@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

body {
  width: 800px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: 'Gudea', sans-serif;
  font-size: 24px;
}

a {
  color: #000;
}

.tasks-title {
  font-weight: bold;
  font-size: 14pt;
}

#header {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background: #000000;

  color: #EEE;
  font-size: 12pt;
}

.complete {
  display: none;
}

.complete .check {
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 20px;
  padding-bottom: 20px;
  cursor: default;
}

li .check {
  display: block;
  float: left;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  color: #DDD;
}

li.incomplete:hover .check {
  color: #999;
  cursor: default;
}

li .title {
  margin-left: 4px;
  padding-left: 20px;
}

.add {
  color: #BBB;
  font-size: 12pt;
  position: relative;
  left: 15px;
  padding-left: 0;
}

#adddate {
  margin-left: 23px;
  font-size: 22px;
  border: none;
  border-bottom: #CCC solid 1px;
  width: 200px;
  color: #CCC;
}

#addtask {
  margin-left: 43px;
  font-size: 22px;
  border: none;
  border-bottom: #CCC solid 1px;
  width: 350px;
  color: #CCC;
}

#addsubmit {
  margin-left: 23px;
  display: inline;
  visibility: hidden;
}

#startnow {
  display: block;
  background: #000;
  color: #FFF;
  padding: 3px 10px;
  font-weight: bold;
  text-decoration: none;
}

.fineprint {
  margin-top: 24px;
  font-size: 12px;
}

.optional {
  font-size: 10px;
  position: relative;
  top: 16px;
  right: 40px;
}

.loading {
  color: #CCC;
}

#username {
  color: #444;
}

#undo {
  color: #CCC;
  text-decoration: none;
}

#undo:hover {
  color: #FFF;
}

#donate {
  color: #888;
  position: absolute;
  right: 40px;
  text-decoration: none;
}

#donate:hover {
  pointer: default;
  color: #AAA;
}

#tutorial {
  padding-left: 59px;
  font-size: 18px;
  display: none;
}

.due {
  margin-left: 16px;
  color: #BBB;
  font-size: 16px;
}
