<!doctype html>
<html>
  <head>
    <title>tasks'</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <span class="tasks-title">Tasks'</span> &nbsp;&nbsp; 
      google tasks made beautiful
    </div>
    <h1>tasks': Google Tasks made beautiful</h1>
    <p>Sometimes you just want to see your tasks all at once, not on your
    calendar.  That's what <b>tasks'</b> does for you: all your Google Tasks in
    one place, with a simple, beautiful interface.</p>
    <a id="startnow" href="{{ authorize_url }}">Start using tasks' now.</a>

    <p class="fineprint">Fine print: we never store any personal information on
    our servers. All information is retrieved and stored using the Google Tasks
    API. You do not have to supply your Google account password to use tasks'.
    tasks' is not responsible for any loss of data caused by the use of tasks',
    although we promise to be very careful. tasks' will never make any changes
    to your task lists without user input. tasks' was made by <a
      href="http://haldean.org">Will Haldean Brown</a>. The source code is
    available on <a href="https://github.com/haldean/tasksprime">Github</a>.</p>
  </body>
</html>
