<!doctype html>
<html>
  <head>
    <title>tasks'</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/calender.css" rel="stylesheet" type="text/css">
    <script src="/js/ender.js"></script>
    <script src="/js/taskprime.js"></script>
  </head>
  <body>
    <div id="header">
      <span class="tasks-title">tasks'</span> &nbsp;&nbsp; 
      <span id="tasks-todo"></span>
      <a href="#" id="undo">&nbsp;undo</span>
      <!--<span id="username">&nbsp;&nbsp;{{ user }}</span>-->
      <a id="donate" target="blank"
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=will%2eh%2ebrown%40gmail%2ecom&lc=US&item_name=Will%20Brown&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">
          buy Will a coffee</a></span>
    </div>
    <ul id="tasklist">
      <li class="add">
        <form id="addform" method="GET" action="." style="display:inline;">
          <input type="text" id="addtask" value="new task" name="title">
          <input type="text" id="adddate" value="date" class="auto-kal" name="date">
          <span class="optional">optional</span>
          <input type="submit" value="add" id="addsubmit">
        </form>
      </li>
      <li id="tutorial">
        You don't have any tasks in your default Google Tasks list. Go ahead and
        add one by writing a task (and, optionally, a due date) in the boxes
        above, then hit the enter key on your keyboard.
      </li>
      <li class="task loading"><span class="check">&nbsp;</span>Loading...</li>
    </ul>
  </body>
</html>
