<!doctype html>
<html>
  <head>
    <title>Tasks Prime</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/kalendae.css" rel="stylesheet" type="text/css">
    <script src="/js/ender.js"></script>
    <script src="/js/kalendae.min.js"></script>
    <script src="/js/taskprime.js"></script>
  </head>
  <body>
    <div id="header">
      <span class="tasks-title">Tasks'</span> &nbsp;&nbsp; 
      <span id="tasks-todo"></span>
    </div>
    <div id="loader">&nbsp;</div>
    <ul id="tasklist">
      <li class="add">
        <form id="addform" method="GET" action="." style="display:inline;">
          <input type="text" id="addtask" value="new task" name="title">
          <input type="text" id="adddate" value="date" class="auto-kal" name="date">
          <span class="optional">optional</span>
          <input type="submit" value="add" id="addsubmit">
        </form>
      </li>
    </ul>
  </body>
</html>
